@use '@/styles/api' as theme;
@use '@/styles/theme/functions' as theme-internal;

$component: 'radio';

.#{theme.$prefix}-#{$component} {
  display: inline-flex;
  gap: theme.spacing(gap, 300);
  align-items: flex-start;
  cursor: pointer;

  &-box-wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: theme-internal.om-line-height-px(body, lg);
  }

  &-input {
    position: absolute;
    inset: 0;
    margin: 0;
    cursor: inherit;
    opacity: 0;
  }

  &-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: theme.spacing(scale, 400);
    height: theme.spacing(scale, 400);
    overflow: hidden;
    background-color: theme.palette(bg, 'default');
    border: 1px solid theme.palette(border, 'default-secondary');
    border-radius: theme.shape('full');
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &::after {
      position: absolute;
      width: theme.spacing(scale, 200);
      height: theme.spacing(scale, 200);
      background-color: theme.palette(icon, 'on-brand');
      border-radius: theme.shape('full');
      transform: scale(0);
      opacity: 0;
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
      content: '';
    }
  }

  &-input:checked + .#{theme.$prefix}-#{$component}-box {
    background-color: theme.palette(bg, 'brand');
    border-color: theme.palette(bg, 'brand');

    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }

  &-input:focus-visible + .#{theme.$prefix}-#{$component}-box {
    border-color: theme.palette(border, 'brand');
    box-shadow: 0 0 0 1px theme.palette(border, 'brand');
  }

  &-content {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    min-width: 0;
  }

  &-label {
    @include theme.typography(body, lg, $strong: true);

    color: theme.palette(text, 'default');
  }

  &-description {
    @include theme.typography(body, md, $strong: true);

    color: theme.palette(text, 'default-tertiary');
  }

  &:not(&-disabled):hover {
    .#{theme.$prefix}-#{$component}-box {
      border-color: theme.palette(border, 'default-tertiary');
    }

    .#{theme.$prefix}-#{$component}-input:checked
      + .#{theme.$prefix}-#{$component}-box {
      background-color: theme.palette(bg, 'brand-hover');
      border-color: theme.palette(bg, 'brand-hover');
    }
  }

  &-disabled {
    cursor: not-allowed;

    .#{theme.$prefix}-#{$component}-box {
      background-color: theme.palette(bg, 'disabled');
      border-color: theme.palette(border, 'disabled');
    }

    .#{theme.$prefix}-#{$component}-input:checked
      + .#{theme.$prefix}-#{$component}-box {
      background-color: theme.palette(bg, 'disabled');
      border-color: theme.palette(border, 'disabled');
    }

    .#{theme.$prefix}-#{$component}-input:checked
      + .#{theme.$prefix}-#{$component}-box::after {
      background-color: theme.palette(icon, 'on-disabled');
    }

    .#{theme.$prefix}-#{$component}-label,
    .#{theme.$prefix}-#{$component}-description {
      color: theme.palette(text, 'disabled');
    }
  }

  &-right {
    .#{theme.$prefix}-#{$component}-box-wrapper {
      order: 1;
    }

    .#{theme.$prefix}-#{$component}-content {
      order: 0;
    }
  }
}

$group-component: 'radio-group';

.#{theme.$prefix}-#{$group-component} {
  display: flex;

  &-vertical {
    flex-direction: column;
    gap: theme.spacing(gap, 300);
  }

  &-horizontal {
    flex-flow: row wrap;
    gap: theme.spacing(gap, 600);
  }
}
