@use '@/styles/api' as theme;

$component: 'upload-file-bar';

.#{theme.$prefix}-#{$component} {
  display: flex;
  gap: theme.spacing(gap, 300);
  align-items: center;
  width: 100%;

  &-inner {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    gap: theme.spacing(gap, 200);
    align-items: center;
    justify-content: space-between;
    min-width: 120px;
    height: theme.sizing(component-height, 'lg');
    padding: theme.spacing(scale, 300) theme.spacing(scale, 400);
    overflow: hidden;
    color: theme.palette(text, 'brand');
    background-color: theme.palette(bg, 'default-secondary');
    border: 1px solid theme.palette(border, 'default');
    border-radius: theme.shape(300);
  }

  &-name {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    color: inherit !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-success {
    .#{theme.$prefix}-#{$component}-inner {
      color: theme.palette(text, 'brand');
    }

    .#{theme.$prefix}-#{$component}-icon-file {
      color: theme.palette(icon, 'brand') !important;
    }
  }

  &-failure {
    .#{theme.$prefix}-#{$component}-inner {
      color: theme.palette(text, 'danger');
    }

    .#{theme.$prefix}-#{$component}-icon-file {
      color: theme.palette(icon, 'danger') !important;
    }
  }

  &:hover {
    .#{theme.$prefix}-#{$component}-inner {
      border-color: theme.palette(border, 'default-tertiary');
    }
  }

  &-failure:hover {
    .#{theme.$prefix}-#{$component}-inner {
      border-color: theme.palette(text, 'default');
    }
  }

  &-icon {
    &-status {
      margin-left: auto;
    }

    &-remove {
      flex-shrink: 0;
      color: theme.palette(icon, 'default');
      cursor: pointer;
    }
  }

  &-message {
    position: absolute;
    bottom: -18px;
    left: 0;
    display: inline-flex;
    gap: theme.spacing(scale, 100);
    align-items: center;
    color: theme.palette(text, 'danger');

    > * {
      color: inherit !important;
    }
  }
}
