@use '@/styles/api' as theme;

$component: 'input';

.#{theme.$prefix}-#{$component} {
  &-otp {
    display: flex;
    gap: theme.spacing(gap, 200);
  }

  &-otp-cell {
    @include theme.typography(body, lg);

    width: 54px;
    height: theme.sizing(component-height, '3xl');
    color: theme.palette(text, 'default');
    font-weight: 500;
    text-align: center;
    background-color: theme.palette(bg, 'default-secondary');
    border: 1px solid theme.palette(border, 'default');
    border-radius: theme.shape(300);
    outline: none;
  }

  &-otp-cell:hover:not(:disabled) {
    border-color: theme.palette(border, 'default-tertiary');
  }

  &-error &-otp-cell:hover:not(:disabled) {
    border-color: theme.palette(border, 'danger');
  }

  &-warning &-otp-cell:hover:not(:disabled) {
    border-color: theme.palette(border, 'warning');
  }

  &-success &-otp-cell:hover:not(:disabled) {
    border-color: theme.palette(border, 'positive');
  }

  &-otp-cell:focus {
    border-color: theme.palette(border, 'brand');
    box-shadow: 0 0 0 1px theme.palette(border, 'brand');
  }

  // ── Size ──
  &-small &-otp-cell {
    width: theme.sizing(component-height, 'lg');
    height: theme.sizing(component-height, 'lg');
    border-radius: theme.shape(200);
  }

  // ── Status ──
  &-error &-otp-cell {
    color: theme.palette(text, 'danger');
    border-color: theme.palette(border, 'danger');
    box-shadow: none;
  }

  &-warning &-otp-cell {
    border-color: theme.palette(border, 'warning');
  }

  &-success &-otp-cell {
    border-color: theme.palette(border, 'positive');
  }

  // ── Disabled ──
  &-disabled &-otp-cell {
    color: theme.palette(text, 'disabled');
    background-color: theme.palette(bg, 'disabled');
    border-color: theme.palette(border, 'default');
    cursor: not-allowed;
  }
}
