@use '@/styles/api' as theme;

$component: 'form';

// ─── Form Root ───────────────────────────────────────────────
.#{theme.$prefix}-#{$component} {
  width: 100%;

}

// ─── FormItem Root ───────────────────────────────────────────
.#{theme.$prefix}-#{$component}-item {
  margin-bottom: theme.spacing(gap, 300);

  &-small {
    margin-bottom: theme.spacing(gap, 200);
  }
}

// ─── Label ───────────────────────────────────────────────────
.#{theme.$prefix}-#{$component}-item-label-wrapper {
  &-vertical {
    margin-bottom: theme.spacing(gap, 200);
  }
}

.#{theme.$prefix}-#{$component}-item-label {
  display: inline;
  padding: 0;

  &-required {
    &::before {
      margin-right: theme.spacing(gap, '050');
      color: theme.palette(text, 'danger');
      content: '*';
    }
  }

}

// ─── Label Alignment ─────────────────────────────────────────
.#{theme.$prefix}-#{$component}-item-label-wrapper-left {
  text-align: left;
}

.#{theme.$prefix}-#{$component}-item-label-wrapper-right {
  text-align: right;
}

// ─── Error & Help Messages ───────────────────────────────────
.#{theme.$prefix}-#{$component}-item-error {
  margin-top: theme.spacing(gap, '050');
}

.#{theme.$prefix}-#{$component}-item-help {
  margin-top: theme.spacing(gap, '050');
}
