@use '@/styles/api' as theme;

$component: 'calendar';
$cell-size: theme.sizing(component-height, 'md');

.#{theme.$prefix}-#{$component} {
  &-small {
    input {
      height: theme.sizing(component-height, 'lg') !important;
      line-height: 18px !important;
    }
  }

  &.p-invalid input {
    color: theme.palette(text, 'danger');
    border-color: theme.palette(border, 'danger');
    box-shadow: none;

    &:hover {
      border-color: theme.palette(border, 'danger');
    }
  }

  &.#{theme.$prefix}-#{$component}-success input {
    color: theme.palette(text, 'positive');
    border-color: theme.palette(border, 'positive');
    box-shadow: none;

    &:hover {
      border-color: theme.palette(border, 'positive');
    }
  }

  &.p-calendar-disabled {
    cursor: not-allowed;

    input {
      background-color: theme.palette(bg, 'disabled');
      border-color: theme.palette(border, 'disabled');
      opacity: 1;
    }
  }

  &-filled.p-calendar-disabled input {
    background-color: theme.palette(bg, 'default-secondary');
    border-color: theme.palette(border, 'disabled');
  }

  input {
    height: theme.sizing(component-height, '3xl');
    padding: theme.spacing(scale, 200) theme.spacing(scale, 400);
    color: theme.palette(text, 'default');

    @include theme.typography(body, lg);

    background-color: theme.palette(bg, 'default-secondary');
    border-color: theme.palette(border, 'default');
    border-style: solid;
    border-width: 1px;
    border-radius: theme.shape(300);

    &:hover {
      border-color: theme.palette(border, 'brand');
    }

    &::placeholder {
      color: theme.palette(text, 'default-tertiary');
      font-weight: 400;

      @include theme.typography(body, md);
    }
  }

  &.p-calendar:not(.p-calendar-disabled, .p-invalid, .#{theme.$prefix}-#{$component}-success).p-focus
    > .p-inputtext {
    padding: 7px 15px;
    border-color: theme.palette(border, 'brand');
    border-width: 2px;
    box-shadow: none;
  }
}

.#{theme.$prefix}-#{$component}-panel {
  padding: theme.spacing(scale, 600);
  background-color: theme.palette(bg, 'default');
  border: 1px solid theme.palette(border, 'neutral-tertiary');
  border-radius: theme.shape(300);
  box-shadow: theme.shadows(100);

  .p-datepicker-buttonbar {
    padding: theme.spacing(scale, 200) 0;
    border: none;

    .p-button {
      padding: 0 theme.spacing(scale, 400);
      color: theme.palette(text, 'default');

      @include theme.typography(body, lg);

      &:hover {
        color: theme.palette(text, 'brand');
        background-color: inherit;
      }

      span {
        font-weight: 500;
      }
    }
  }

  .p-datepicker-group-container {
    gap: theme.spacing(scale, 600);

    .p-datepicker-group {
      display: flex;
      flex-direction: column;
      gap: theme.spacing(gap, 300);
      padding: 0 !important;
      border: 0 !important;

      .p-datepicker-header {
        padding: 0;
        border: none;

        .p-datepicker-title {
          display: inline-flex;
          gap: theme.spacing(scale, 100);
          align-items: center;

          > * {
            @include theme.typography(title, lg);

            &:hover {
              color: theme.palette(text, 'brand');
            }
          }
        }

        .p-datepicker-prev,
        .p-datepicker-next {
          &:hover {
            background-color: inherit;

            > i {
              color: theme.palette(icon, 'brand') !important;
            }
          }
        }
      }

      .p-datepicker-calendar-container {
        table {
          width: var(--content-width, 280px);
          margin: 0;
          table-layout: fixed;
          border-collapse: separate;
          border-spacing: 0 theme.spacing(scale, 100);
        }

        .p-datepicker-calendar {
          thead tr th span {
            color: theme.palette(text, 'default');

            @include theme.typography(body, lg, $strong: true);
          }

          tbody tr td {
            width: $cell-size !important;
            height: $cell-size;
            padding: 0 !important;

            &:first-child {
              border-radius: theme.shape('full') 0 0 theme.shape('full');
            }

            &:last-child {
              border-radius: 0 theme.shape('full') theme.shape('full') 0;
            }
          }

          tbody tr td span {
            width: $cell-size !important;
            max-width: $cell-size !important;
            height: $cell-size !important;
            max-height: $cell-size !important;
            margin: 0 !important;
            padding: 0 !important;
            color: theme.palette(text, 'default');
            border: none;
            border-radius: theme.shape('full');
            box-shadow: none;

            @include theme.typography(label, lg);

            &.p-highlight {
              color: theme.palette(text, 'on-neutral');
              background-color: theme.palette(bg, 'brand');
              border-radius: theme.shape('full');

              &:hover {
                color: theme.palette(text, 'on-neutral');
                background-color: theme.palette(bg, 'brand');
              }
            }

            &.p-disabled {
              color: theme.palette(text, 'disabled') !important;
            }

            &:hover {
              color: theme.palette(text, 'brand');
              background-color: theme.palette(bg, 'default');
            }
          }

          .p-datepicker-today {
            span {
              color: theme.palette(text, 'brand');
              background-color: theme.palette(bg, 'default');
            }
          }
        }
      }
    }
  }

  .p-yearpicker {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: theme.spacing(scale, 400);
    place-items: center center;
    text-align: center;

    .p-yearpicker-year {
      width: auto;

      @include theme.typography(title, lg);

      border: none;
      box-shadow: none;

      &.p-highlight {
        color: theme.palette(text, 'on-neutral');
        background-color: theme.palette(bg, 'brand');

        &:hover {
          color: theme.palette(text, 'on-neutral');
          background-color: theme.palette(bg, 'brand');
        }
      }

      &:hover {
        color: theme.palette(text, 'brand');
        background-color: theme.palette(bg, 'default');
      }
    }
  }

  .p-monthpicker {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: theme.spacing(scale, 400);
    place-items: center center;
    text-align: center;

    .p-monthpicker-month {
      width: auto;
      padding: theme.spacing(scale, 100) theme.spacing(scale, 400);

      @include theme.typography(title, lg);

      border: none;
      box-shadow: none;

      &.p-highlight {
        color: theme.palette(text, 'on-neutral');
        background-color: theme.palette(bg, 'brand');

        &:hover {
          color: theme.palette(text, 'on-neutral');
          background-color: theme.palette(bg, 'brand');
        }
      }

      &:hover {
        color: theme.palette(text, 'brand');
        background-color: theme.palette(bg, 'default');
      }
    }
  }
}

.#{theme.$prefix}-#{$component}-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.#{theme.$prefix}-#{$component}-label {
  margin-bottom: theme.spacing(scale, 200);

  @include theme.typography(label, lg);

  &-required {
    &::after {
      margin-left: theme.spacing(scale, 100);
      color: theme.palette(text, 'danger');

      @include theme.typography(body, lg);

      content: '*';
    }
  }
}

.#{theme.$prefix}-#{$component}-message {
  display: flex;
  gap: theme.spacing(scale, 100);
  align-items: center;
  justify-content: flex-start;
  margin-top: theme.spacing(scale, 100);
  color: theme.palette(text, 'neutral-secondary');

  @include theme.typography(body, sm);

  word-wrap: break-word;
  word-break: keep-all;

  &-success {
    color: theme.palette(text, 'positive');
  }

  &-error {
    color: theme.palette(text, 'danger');
  }
}

// Range selection styles
.#{theme.$prefix}-#{$component}-p-start {
  background-color: theme.palette(bg, 'brand-tertiary') !important;
  border-radius: theme.shape('full') 0 0 theme.shape('full') !important;

  &:last-child {
    border-radius: theme.shape('full') !important;
  }

  span {
    color: theme.palette(text, 'on-neutral') !important;
    background-color: theme.palette(bg, 'brand') !important;
    border-radius: theme.shape('full') !important;
  }
}

.#{theme.$prefix}-#{$component}-p-end {
  background-color: theme.palette(bg, 'brand-tertiary') !important;
  border-radius: 0 theme.shape('full') theme.shape('full') 0 !important;

  &:first-child {
    border-radius: theme.shape('full') !important;
  }

  span {
    color: theme.palette(text, 'on-neutral') !important;
    background-color: theme.palette(bg, 'brand') !important;
    border-radius: theme.shape('full') !important;
  }
}

.#{theme.$prefix}-#{$component}-p-range {
  color: theme.palette(text, 'default') !important;
  background-color: theme.palette(bg, 'brand-tertiary') !important;

  span {
    &.p-highlight {
      color: theme.palette(text, 'default') !important;
      background-color: transparent !important;
    }
  }
}
