@use '@/styles/api' as theme;

$component: 'tooltip-beta';
$cls: #{theme.$prefix}-#{$component};

// ── Override react-tooltip defaults ──
.#{$cls}[role='tooltip'] {
  min-width: 48px;
  max-width: 400px;
  padding: theme.spacing(scale, 200) theme.spacing(scale, 300);
  color: theme.palette(text, 'on-neutral');
  background-color: theme.palette(bg, 'neutral');
  border-radius: theme.shape('200');
  box-shadow: theme.shadows('100');
  opacity: 1;

  // ── Title ──
  .#{$cls}-title {
    @include theme.typography(title, sm, $strong: true);
  }

  // ── Body ──
  .#{$cls}-body {
    @include theme.typography(body, sm, $strong: true);
  }

  // ── Title + Body gap ──
  .#{$cls}-title + .#{$cls}-body {
    margin-top: theme.spacing(scale, 100);
  }

  // ── Arrow ──
  .#{$cls}-arrow {
    background-color: theme.palette(bg, 'neutral');
  }
}
